* {
    padding: 0;
    margin: 0;
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    color: white;
    user-select: none;
}

.ui {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 0;
}

.inventory {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1550px;
    height: 600px;
}

#playerInventory {
    width: 625px;
    height: 600px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

#controls {
    width: 300px;
    height: 600px;
    float: left;
    position: relative;
    left: 0;
    top: 0;
}

#otherInventory {
    width: 625px;
    height: 600px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

#count {
    border: none;
    outline: none;
    font-size: 18px;
}

#search {
    display: none;
    border: none;
    outline: none;
    font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.slot {
    float: left;
    width: 117px;
    height: 117px;
    background-color: rgba(10, 10, 10, 0.5);
    margin: 2px;
    position: relative;
    border-radius: 8px;
}

#playerInventory > .slot:nth-child(1):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '1';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	font-family: "Signika";
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background-color: white;
	color: black;
	text-shadow: none;
	outline: 1px solid rgba(0,0,0,0.9);
	outline-offset: -1px;
}

#playerInventory > .slot:nth-child(2):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '2';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	font-family: "Signika";
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background-color: white;
	color: black;
	text-shadow: none;
	outline: 1px solid rgba(0,0,0,0.9);
	outline-offset: -1px;
}

#playerInventory > .slot:nth-child(3):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '3';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	font-family: "Signika";
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background-color: white;
	color: black;
	text-shadow: none;
	outline: 1px solid rgba(0,0,0,0.9);
	outline-offset: -1px;
}

#playerInventory > .slot:nth-child(4):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '4';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	font-family: "Signika";
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background-color: white;
	color: black;
	text-shadow: none;
	outline: 1px solid rgba(0,0,0,0.9);
	outline-offset: -1px;
}

#playerInventory > .slot:nth-child(5):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '5';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	font-family: "Signika";
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background-color: white;
	color: black;
	text-shadow: none;
	outline: 1px solid rgba(0,0,0,0.9);
	outline-offset: -1px;
}

#hotbar {
	height: 110px;
	min-width: 110px;
	width: fit-content;
	position: absolute;
	left: 50%;
	bottom: 3%;
	transform: translate(-50%, 0%);
}

.slot:hover {
    background-color: rgba(10, 10, 10, 0.65);
}

.item,
.item-other {
    width: 117px;
    height: 117px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.item-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 117px;
    min-height: 20px;
    z-index: 500;
    font-size: 12px;
    background-color: rgba(10, 10, 10, 0.65);
    border-radius: 8px;
}

.item-name-bg {
    width: 100%;
    width: 117px;
    height: 20px;
    position: absolute;
    bottom: 0;
}

.ui-draggable-dragging .item-name,
.ui-draggable-dragging .item-count {
    display: none;
}

.item-count {
    position: absolute;
    top: 0;
    text-align: right;
    width: 114px;
    height: 20px;
    z-index: 500;
}

.ammoIcon {
    width: 10px;
    height: 10px;
}

.info-div {
    text-align: center;
    padding: 5px;
    background-color: rgba(17, 5, 17, 0.6);
    width: 80%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.controls-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.control {
    width: 150px;
    height: 40px;
    background-color: rgba(10, 10, 10, 0.5);
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 8px;
}

.control.disabled {
    background-color: rgba(10, 10, 10, 1);
}

.hoverControl {
    background-color: rgba(10, 10, 10, 0.8);
}

#playerInventory::-webkit-scrollbar-track,
#otherInventory::-webkit-scrollbar-track {
    background-color: none;
    border: none;
}

#playerInventory::-webkit-scrollbar,
#otherInventory::-webkit-scrollbar {
    width: 4px;
}

#playerInventory::-webkit-scrollbar-thumb,
#otherInventory::-webkit-scrollbar-thumb {
	background-color: rgba(10, 10, 10, 0.5);
	border-radius: 8px;
}

.nearbyPlayerButton {
    width: 100%;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    padding: 2px;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(63, 57, 83, 0.226);
    text-shadow: none;
    font-size: 14px !important;
    outline: none;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    border: none;
}

.nearbyPlayerButton:hover {
    background-color: rgba(34, 29, 46, 0.8);
}

#noSecondInventoryMessage {
    width: 615px;
    height: 580px;
    line-height: 580px;
    text-align: center;
}

#info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#playerInfo, #otherInfo {
    display: none;
    color: white;
    font-size: 18px;
    letter-spacing: 0.1vh;
}

#description {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
}

@media (max-width: 1500px) {
    .inventory {
        width: 1300px;
    }

    #playerInventory {
        width: 550px;
    }

    #controls {
        width: 200px;
    }

    #otherInventory {
        width: 550px;
    }

    #noSecondInventoryMessage {
        width: 540px;
    }
}

@media (max-width: 1300px) {
    .inventory {
        width: 1000px;
    }

    #playerInventory {
        width: 425px;
    }

    #controls {
        width: 150px;
    }

    #otherInventory {
        width: 425px;
    }

    #noSecondInventoryMessage {
        width: 420px;
    }
}